git+https://github.com/botswana-harvard/edc-device@develop#egg=edc_device
git+https://github.com/botswana-harvard/edc-identifier@develop#edc_identifier
git+https://github.com/botswana-harvard/edc-protocol@develop#edc_protocol
